h1{
    color:turquoise
}


body{

background-color:blue;


}


.header {

background-color:yellow ;
display:flex;
justify-content:space-between;
}


.grid {

display:flex;
flex-wrap:wrap;
justify-content:space-evenly;

}


.footer {

display:flex;
justify-content:flex-end;


}

.item{
    position:relative;
}

.item p{

position:absolute;
top:50%;
left:40%;
transform:translate(-50%,-40%);
opacity:0;

}

.item:hover p{
    opacity:1;

}

.item:hover img{
    opacity:0.11
}

.menu a{
    margin-left:25px;


}


p{
    font-size:40px;
}



a:link{
    color:red
}


a:visited{
    color:darkblue
}